@font-face {
    font-family:'Roboto';
    src:
      /* url('../fonts/Roboto_Bold.woff2') format('woff2'), */
      url('../fonts/Roboto_Bold.woff') format('woff'),
      url('../fonts/Roboto_Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
  }
  
  @font-face {
    font-family:'Roboto';
    src:
      /* url('../fonts/Roboto_Regular.woff2') format('woff2'), */
      url('../fonts/Roboto_Regular.woff') format('woff'),
      url('../fonts/Roboto_Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
  }